cairocffi==1.0.2
CairoSVG==2.4.1
cffi==1.12.3
cssselect==1.1.0
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.1.5
django-filter==2.2.0
html5lib==0.9999999
lxml==4.6.3
Pillow==6.1.0
pycparser==2.19
Pyphen==0.9.5
pytz==2019.2
six==1.12.0
tinycss==0.3
tinycss2==1.0.2
WeasyPrint==0.29
webencodings==0.5.1
