{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <p><h1><img src="https://elenacube.s3-eu-west-1.amazonaws.com/abril/pizza.png"style="width:5%;">Dashboard</h1>

 Welcome to your dashboard. You can <a href="{% url "account:edit" %}">edit your profile</a> or <a href="{% url "account:password_change" %}">change your password.</a></p>
  <p><a href="/productspizzas-s">Make your Order</a></p>
 <p><a href="{% url "orders2:created_list" %}">Orders history</a></p>
 <p><a href="{% url "cart:cart_detail" %}">Your Cart</a></p>

{% endblock %}